[core]
        excludesfile = ~/.gitignore
[user]
        name = Hazim
        email = <>
        username = <>
[pull]
        rebase = true
[push]
        autoSetupRemote = true
[safe]
        directory = /work